@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@500;600;700;800&display=swap");
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #f9f7f7;
  color: #1B262C;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

section {
  scroll-margin-top: 90px;
}

::-webkit-scrollbar{
	width:10px;
}

::-webkit-scrollbar-track{
	background:#e8edf2;
}

::-webkit-scrollbar-thumb{
	background:#3282B8;
	border-radius:999px;
}

::-webkit-scrollbar-thumb:hover{
	background:#0f4c75;
}